[{:id :apex-predator
  :name "Apex Predator"
  :description
  "Your body has rending limbs, crushing mandibles,
   or some other form of built-in heavy armament.
   You gain an innate heavy melee weapon."
  :level 1
  :when-gained
  {:gain-items [:heavy-innate-melee-weapon]}
  :tags #{:background :talent}}]
