[{:id :extra-hearts-damage
  :name "Brutal Strikes"
  :level 1
  :description
  "Hearts in your Suit Pool add an additional damage,
   when their being there would already do so."
  :tags #{:talent}
  :effect
  {:extra-suit-damage :hearts}
  :requirements
  {:skills {:melee 5}}}
 {:id :extra-hearts-healing
  :name "Potent Mending"
  :level 1
  :description
  "Hearts in your Suit Pool heal an additional health,
   when their being there would already do so."
  :tags #{:talent}
  :effect
  {:extra-suit-healing :hearts}
  :requirements
  {:skills {:medicine 5}}}
 {:id :light-weapon-spirit-damage
  :name "Keen Volition"
  :level 1
  :description
  "You may use Spirit insteady of Body
   as a modifier to damage.
   Clubs in your Suit Pool add damage like Hearts,
   excluding extra damage from other feats."
  :tags #{:talent}
  :effect
  {:keen-attribute :spirit}
  :requirements
  {:attributes {:spirit 3}}}
 {:id :deep-debuffs-hearts
  :name "Crippling Strikes"
  :level 1
  :description
  "Hearts add an extra level of any debuff they would apply."
  :tags #{:talent}
  :effect
  {:deep-debuffs :hearts}
  :requirements
  {:attributes {:body 2}}}
 {:id :deep-debuffs-spades
  :name "Despoiling Influence"
  :level 1
  :description
  "Spades add an extra level of any debuff they would apply."
  :tags #{:talent}
  :effect
  {:deep-debuffs :spades}
  :requirements
  {:attributes {:mind 2}}}
 {:id :deep-debuffs-clubs
  :name "Faltering Eminence"
  :level 1
  :description
  "Clubs add an extra level of any debuff they would apply."
  :tags #{:talent}
  :effect
  {:deep-debuffs :clubs}
  :requirements
  {:attributes {:spirit 2}}}
 {:id :deep-debuffs-diamonds
  :name "Heavenly Spite"
  :level 1
  :description
  "Diamonds add an extra level of any debuff they would apply."
  :tags #{:talent}
  :effect
  {:deep-debuffs :diamonds}
  :requirements
  {:attributes {:luck 2}}}
 {:id :bardic-lore
  :name "Bardic Lore"
  :level 1
  :description
  "You may use Performance instead of Lore,
   even for accessing Lore talents."
  :tags #{:talent}
  :effect
  {:use-skill-as {:performance :lore}}
  :requirements
  {:skills {:performance 5}}}
 {:id :silver-tongue
  :name "Silver Tongue"
  :level 3
  :description
  "Checks using social skills (Deception, Diplomacy, Insight, Performance, Presence)
   gain one advantage."
  :effect
  {:skill-advantage #{:deception :diplomacy :insight
                      :performance :presence}}
  :requirements
  {:or [{:skills {:deception 7}}
        {:skills {:diplomacy 7}}
        {:skills {:insight 7}}
        {:skills {:performance 7}}
        {:skills {:presence 7}}]}
  :tags #{:talent}}
 {:id :imposing-figure
  :name "Imposing Figure"
  :level 1
  :description
  "May use Body instead of Spirit for Presence checks."
  :effect
  {:use-attr-as-with
   {:body [:spirit :presence]}}
  :requirements
  {:attributes {:body 3}
   :skills {:presence 2}}
  :tags #{:talent}}]
