[{:id :extra-hearts-damage
  :name "Brutal Strikes"
  :level 1
  :description
  "Hearts in your Suit Pool add an additional damage,
   when their being there would already do so."
  :tags #{:talent}
  :effect
  {:extra-suit-damage :hearts}
  :requirements
  {:skills {:melee 5}}}
 {:id :extra-hearts-healing
  :name "Potent Mending"
  :level 1
  :description
  "Hearts in your Suit Pool heal an additional health,
   when their being there would already do so."
  :tags #{:talent}
  :effect
  {:extra-suit-healing :hearts}
  :requirements
  {:skills {:medicine 5}}}
 {:id :light-weapon-spirit-damage
  :name "Keen Volition"
  :level 1
  :description
  "You may use Spirit insteady of Body
   as a modifier to damage.
   Clubs in your Suit Pool add damage like Hearts,
   excluding extra damage from other feats."
  :tags #{:talent}
  :effect
  {:keen-attribute :spirit}
  :requirements
  {:attributes {:spirit 3}}}
 {:id :deep-debuffs-hearts
  :name "Crippling Strikes"
  :level 1
  :description
  "Hearts add an extra level of any debuff they would apply."
  :tags #{:talent}
  :effect
  {:deep-debuffs :hearts}
  :requirements
  {:attributes {:body 2}}}
 {:id :deep-debuffs-spades
  :name "Despoiling Influence"
  :level 1
  :description
  "Spades add an extra level of any debuff they would apply."
  :tags #{:talent}
  :effect
  {:deep-debuffs :spades}
  :requirements
  {:attributes {:mind 2}}}
 {:id :deep-debuffs-clubs
  :name "Faltering Eminence"
  :level 1
  :description
  "Clubs add an extra level of any debuff they would apply."
  :tags #{:talent}
  :effect
  {:deep-debuffs :clubs}
  :requirements
  {:attributes {:spirit 2}}}
 {:id :deep-debuffs-diamonds
  :name "Heavenly Spite"
  :level 1
  :description
  "Diamonds add an extra level of any debuff they would apply."
  :tags #{:talent}
  :effect
  {:deep-debuffs :diamonds}
  :requirements
  {:attributes {:luck 2}}}
 {:id :bardic-lore
  :name "Bardic Lore"
  :level 1
  :description
  "You may use Performance instead of Lore,
   even for accessing Lore talents."
  :tags #{:talent}
  :effect
  {:use-skill-as {:performance :lore}}
  :requirements
  {:skills {:performance 5}}}
 {:id :imposing-figure
  :name "Imposing Figure"
  :level 1
  :description
  "May use Body instead of Spirit for Presence checks."
  :effect
  {:use-attr-as-with
   {:body [:spirit :presence]}}
  :requirements
  {:attributes {:body 3}
   :skills {:presence 3}}
  :tags #{:talent}}
 {:id :dual-wielding
  :name "Dual-Wielding"
  :level 1
  :description
  "May use two one-handed weapons for Defense.
   If you attack with one of them during your turn,
   if the other weapon is light,
   you may make a 2 AP attack with it for 1 AP instead."
  :effect
  {:dual-wielding true}
  :requirements
  {:attributes {:body 2}
   :skills {:melee 4}}}
 {:id :gambler
  :name "Gambler"
  :level 1
  :description
  "The fates favor your overconfidence.
   When you gamble on a check and succeed,
   gain an additional extra success
   for each time you gambled."
  :effect
  {:potent-gambling true}
  :requirements
  {:attributes {:luck 3}}}]
