[{:id :maneuver
  :name "Combat Maneuver"
  :description
  "Using a practiced technique, you make an attack against a target."
  :level 1
  :effect
  {:features #{:maneuver}}
  :cost {:ap 2}
  :tags #{:attack :technique :buildable}
  :requirements
  {:or [{:skills {:melee 3}}
        {:skills {:ranged 3}}]}}
 {:id :stance
  :name "Battle Stance"
  :description
  "Take a practiced stance, enhancing your prowess in some way."
  :level 1
  :effect
  {:features #{:stance}}
  :cost {:ap 1}
  :tags #{:stance :technique :buildable}
  :requirements
  {:attributes {:body 2
                :spirit 2}}}]
