[{:id :heavy-innate-melee-weapon
  :slot :weapon
  :name "Heavy innate melee weapon"
  :description "Reaping limbs and crushing mandibles; deadly bodily implements, adorned at all times."
  :level 0
  :accuracy 0
  :damage 5
  :defense 1
  :range :close
  :bulk 0
  :might 0
  :enhancements #{}
  :materials #{}
  :tags #{:uncraftable}}]