[{:id :light-armor
  :type :armor
  :name "Light armor"
  :description ""
  :level 1
  :resists {:physical 1}
  :inertia 0
  :might 3}
 {:id :heavy-armor
  :type :armor
  :name "Heavy armor"
  :description ""
  :level 1
  :resists {:physical 2}
  :inertia 1
  :might 6}]
