[{:id :1h-light-melee
  :slot :weapon
  :name "One-handed light melee weapon"
  :description ""
  :level 1
  :accuracy 1
  :damage 3
  :defense 1
  :range :close
  :bulk 1
  :might 0}
 {:id :1h-heavy-melee
  :slot :weapon
  :name "One-handed heavy melee weapon"
  :description ""
  :level 1
  :accuracy 0
  :damage 4
  :defense 0
  :range :close
  :bulk 2
  :might 4}
 {:id :2h-light-melee
  :slot :weapon
  :name "Two-handed light melee weapon"
  :description ""
  :level 1
  :accuracy 1
  :damage 4
  :defense 1
  :range :close
  :bulk 2
  :might 0}
 {:id :2h-heavy-melee
  :slot :weapon
  :name "Two-handed heavy melee weapon"
  :description ""
  :level 1
  :accuracy 0
  :damage 5
  :defense 1
  :range :close
  :bulk 3
  :might 6}
 {:id :light-thrown
  :slot :weapon
  :name "Light thrown weapon"
  :description ""
  :level 1
  :accuracy 1
  :damage 3
  :defense 0
  :range [:close {:body 3}]
  :bulk :light
  :might 0}
 {:id :heavy-thrown
  :slot :weapon
  :name "Heavy thrown weapon"
  :description ""
  :level 1
  :accuracy 0
  :damage 4
  :defense 0
  :range [:close {:body 3}]
  :bulk 1
  :might 4}
 {:id :light-bow
  :slot :weapon
  :name "Light bow"
  :description ""
  :level 1
  :accuracy 1
  :damage 3
  :defense 0
  :range 15
  :bulk 1
  :might 0}
 {:id :heavy-bow
  :slot :weapon
  :name "Heavy bow"
  :description ""
  :level 1
  :accuracy 0
  :damage 4
  :defense 0
  :range 20
  :bulk 2
  :might 6}
 {:id :unarmed
  :slot :weapon
  :name "Unarmed"
  :description ""
  :level 1
  :accuracy 2
  :damage 2
  :defense 1
  :range :close
  :bulk 0
  :might 0}
 {:id :shield
  :slot :weapon
  :name "Shield Bash"
  :description ""
  :level 0
  :accuracy 0
  :damage 2
  :defense 2
  :range :close
  :bulk 0
  :might 0}]
