[{:id :1h-light-melee
  :slot :weapon
  :name "One-handed light melee weapon"
  :description ""
  :level 1
  :accuracy 1
  :damage 3
  :defense 1
  :range :close
  :bulk 1
  :might 0
  :enhancements #{}
  :materials #{:wood :leather :bone}}
 {:id :1h-heavy-melee
  :slot :weapon
  :name "One-handed heavy melee weapon"
  :description ""
  :level 1
  :accuracy 0
  :damage 4
  :defense 0
  :range :close
  :bulk 2
  :might 4
  :enhancements #{}
  :materials #{:wood :leather :metal}}
 {:id :2h-light-melee
  :slot :weapon
  :name "Two-handed light melee weapon"
  :description ""
  :level 1
  :accuracy 1
  :damage 4
  :defense 1
  :range :close
  :bulk 2
  :might 0
  :enhancements #{}
  :materials #{:wood :leather :bone}}
 {:id :2h-heavy-melee
  :slot :weapon
  :name "Two-handed heavy melee weapon"
  :description ""
  :level 1
  :accuracy 0
  :damage 5
  :defense 1
  :range :close
  :bulk 3
  :might 6
  :enhancements #{}
  :materials #{:wood :leather :metal}}
 {:id :light-thrown
  :slot :weapon
  :name "Light thrown weapon"
  :description ""
  :level 1
  :accuracy 1
  :damage 3
  :defense 0
  :range [:close {:body 3}]
  :bulk :light
  :might 0
  :enhancements #{}
  :materials #{:wood}
  :tags #{:light}}
 {:id :heavy-thrown
  :slot :weapon
  :name "Heavy thrown weapon"
  :description ""
  :level 1
  :accuracy 0
  :damage 4
  :defense 0
  :range [:close {:body 3}]
  :bulk 1
  :might 4
  :enhancements #{}
  :materials #{:wood :leather :metal}}
 {:id :light-bow
  :slot :weapon
  :name "Light bow"
  :description ""
  :level 1
  :accuracy 1
  :damage 3
  :defense 0
  :range 15
  :bulk 1
  :might 0
  :enhancements #{}
  :materials #{:wood :leather}
  :tags #{:light}}
 {:id :heavy-bow
  :slot :weapon
  :name "Heavy bow"
  :description ""
  :level 1
  :accuracy 0
  :damage 4
  :defense 0
  :range 20
  :bulk 2
  :might 6
  :enhancements #{}
  :materials #{:wood :bone :leather}}
 {:id :unarmed
  :slot :weapon
  :name "Unarmed"
  :description ""
  :level 1
  :accuracy 2
  :damage 2
  :defense 1
  :range :close
  :bulk 0
  :might 0
  :enhancements #{}
  :materials #{}
  :tags #{:uncraftable :light}}
 {:id :innate-melee-weapon
  :slot :weapon
  :name "Innate melee weapon"
  :description "Predacious claws, curling horns, or other natural armaments."
  :level 0
  :accuracy 1
  :damage 4
  :defense 1
  :range :close
  :bulk 0
  :might 0
  :enhancements #{}
  :materials #{}
  :tags #{:uncraftable}}]
