[{:id :predator
  :name "Predator"
  :description
  "You have deadly claws, horns, etc.;
    you gain an innate melee weapon."
  :level 1
  :when-gained
  {:gain-items [:innate-melee-weapon]}
  :tags #{:background :talent :flagon-quest}}]
