{:id :dhutlo
 :bio
 {:name "Dhutlo"
  :description "A hardy lizard."
  :player "DFB"
  :image-url "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstevelees.photography%2Fwp-content%2Fuploads%2FSteve-Lees-Photography-Australian-Lizard-3.jpg&f=1&nofb=1&ipt=a0fd2cd1803e6eb766d5d8d908643e07cb24c9b06e858e0f469390c7fa091438&ipo=images"}
 :experience 0
 :attributes
 {:body 3
  :mind 1
  :spirit 2
  :luck 2}
 :skills
 {:acrobatics 1
  :athletics 2
  :awareness 1
  :insight 1
  :medicine 2
  :melee 3
  :might 2
  :presence 2
  :resilience 2
  :resolve 1
  :stealth 1
  :survival 1
  :theurgy 2}
 :feats
 #{:extra-hearts-damage
   :extra-hearts-healing}
 :equipped [:innate-weapon :medium-armor]
 :at-hand []
 :inventory []}